# Python Workshop - Lecture 3
Today we will quickly review and then we will do math inside of Python

## Python3 - Review

### Strings, Intergers, and Floats
Please refer to Lecture 1 for more information

In [2]:
x = '3'
print('x =', x, type(x))

y = 3
print('y =', y, type(y))

y = float(y)
print('float(y) =', y, type(y))

z = 4.654
print('z =', z, type(z))

x = 3 <class 'str'>
y = 3 <class 'int'>
float(y) = 3.0 <class 'float'>
z = 4.654 <class 'float'>

## Doing Math in Python
Please refer to: https://docs.python.org/3/library/stdtypes.html

### Basic Math

In [9]:
x = 5
x = x**(1/2) #exponent
print(x)

2.23606797749979

Lets create a multidimensional list and pretend this is our data from an excel sheet.

call it **myData**

In [24]:
myData = [[1,2,1],
          [1,4,1],
          [1,2,1]]
print(myData,type(myData))

[[1, 2, 1], [1, 4, 1], [1, 2, 1]] <class 'list'>

### Quadratic Equation
Lets apply the quadratic eqation to our data.

To review the quadratic equation go to: https://en.wikipedia.org/wiki/Quadratic_equation

We are writing code that takes values from the list (myData), and we point to the data by its list index.

In [37]:
myData = [[1,2,1],
          [1,4,1],
          [1,2,1]]

a=myData[0][0]
b=myData[0][1]
c=myData[0][2]

#print(a)
#print(b)
#print(c)

a = float(a)
b = float(b)
c = float(c)

numerator1 = b*(-1) + (b**2 - 4*a*c)**(1/2)
numerator2 = b*(-1) - (b**2 - 4*a*c)**(1/2)
denumerator = 2*a

result1 = numerator1 / denumerator
result2 = numerator2 / denumerator

print(result1,',',result2)

-1.0 , -1.0

If you need to apply higher level math, then refer to **math** and **numpy** packages.

* https://docs.python.org/3/library/math.html
* https://docs.scipy.org/doc/numpy-1.15.1/reference/

In [30]:
import math

x = math.sin(90)
print(x)

0.8939966636005579

## This is not a math class
There are hundreds of formulas in math, we will not cover them all. This is meant as a tutorial on how to turn a math formula into a python3 function. 

It is up to you guys to figure out what kind of math you need to apply to your data, create a function, and print the result.

### Python 3 Functions - Basic Intro
I will cover functions with more details in future classes. For now know that the function synthax looks like this:



```
def functionName():
  # some code
  return 
```

In [3]:
'''Lets copy paste our quadratic equation python code inside a function'''

def quadEQ(a,b,c):
  # a,b,c are our input. We expect numbers, but lets turn them into floats to avoid errors.
  a = float(a)
  b = float(b)
  c = float(c)
  
  numerator1 = b*(-1) + (b**2 - 4*a*c)**(1/2)
  numerator2 = b*(-1) - (b**2 - 4*a*c)**(1/2)
  denumerator = 2*a

  result1 = numerator1 / denumerator
  result2 = numerator2 / denumerator
  
  #print(result1,',',result2)
  return result1
  
# we can re-use our function with diferent values!
print(quadEQ(1,-2,1))
print(quadEQ(1,-4,2))

1.0
3.414213562373095

### Python3 For loops - Basic Intro 
A for loop is used to repeat an operation.

Its synthax looks like:

```
for x in myArray:
  # some code
```

Now that we have a function lets apply our quadratic equation function to our entire data (which can be in the millions of values).

In [4]:
myData = [[1,2,1],
          [1,4,1],
          [1,2,1]]

for row in myData:
  #print(row)
  
  # we grab the values from our list by their list-index
  a = row[0]
  b = row[1]
  c = row[2]
  
  result = quadEQ(a,b,c)
  print(result)

-1.0
-0.2679491924311228
-1.0

### Storing our results

Lets create an empy list (call it myResult), and lets append our results into the list.

In [5]:
myData = [[1,2,1],
          [1,4,1],
          [1,2,1]]

myResult = [] 

for row in myData:
  
  a = row[0]
  b = row[1]
  c = row[2]
  
  myMath = quadEQ(a,b,c)
  #print(myMath, type(myMath))
  myResult.append(myMath)

print(myResult,type(myResult))

[-1.0, -0.2679491924311228, -1.0] <class 'list'>

## Don't reinvent the wheel!
We have created a math function inside of python, but we have failed to code some exceptions. 
* what if the discriminant is negative
* how do we handle complex numbers
* does your data need complex numbers?
* What if you try to divide by zero?

My recomendation is to google search for math functions. 

A quick search for  (python quadratic equation numpy)

Takes us to: https://docs.scipy.org/doc/numpy/reference/generated/numpy.roots.html

Following their API we create the following script:

In [8]:
import numpy as np

myData = [[3.2,2,1],
          [1,2,1],
          [1,4,1],
          [1,2,1]]

for row in myData:
  #print('coeff =',row)
  
  result = np.roots(row)
  
  print(result)

print(type(result))

[-0.3125+0.46351241j -0.3125-0.46351241j]
[-1. -1.]
[-3.73205081 -0.26794919]
[-1. -1.]
<class 'numpy.ndarray'>