# Python Workshop - Lecture 4
From previous lecture we created a math function for the quadratic equation.

In [5]:
def quadEQ(a,b,c):
  # a,b,c are our input. We expect numbers, but lets turn them into floats to avoid errors.
  a = float(a)
  b = float(b)
  c = float(c)
  
  numerator1 = b*(-1) + (b**2 - 4*a*c)**(1/2)
  numerator2 = b*(-1) - (b**2 - 4*a*c)**(1/2)
  denumerator = 2*a

  result1 = numerator1 / denumerator
  result2 = numerator2 / denumerator
  
  aList = [result1,result2]
  
  #print(result1,',',result2)
  return aList

ourResult = quadEQ(1,1,-6)

print(ourResult, type(ourResult))

[2.0, -3.0] <class 'list'>

## Python Operators
if (true):
  do this
else:
  the above was false so do this

In [10]:
x = 4
y = 3

if x < y:
  print('yes!')
else:
  print('no')

no

In [15]:
'''version 1'''
height = 3

if height < 3:
  print('you are too short')
if height >= 3:
  print('welcome aboard')

welcome aboard

In [22]:
height = 2

if height < 3:
  print('you are too short')
else:
  print('welcome aboard')

you are too short

In [29]:
x = 5
y = 8

if x < y:
  print('x is less than y')
if x > y:
  print('x is greater than y')
if x >= y:
  print('x is greater than or equal to y')
if x <= y:
  print('x is less than or equal to y')
if x == y:
  print('x = y')
if x != y:
  print('x is not equal to y')
if x is y:
  print('x is y')
if x is not y:
  print('x is not y')

x is less than y
x is less than or equal to y
x is not equal to y
x is not y

**=** VS **==** VS **is**

In [24]:
x = 3 
x == 4

False

In [30]:
x = 3
y = 4.0
z = 4

if x is y:
  print('x is y')
if x is z:
  print('x is z')
if y is z:
  print('y is z')
if x == y:
  print('x == y')
if x == z:
  print('x == z')
if y == z:
  print('y == z')

y == z

In [28]:
x = 3
y = 4.0
z = 4

if x is not y:
  print('x is not y')
if x is not z:
  print('x is not z')
if y is not z:
  print('y is not z')
if x != y:
  print('x != y')
if x != z:
  print('x != z')
if y != z:
  print('y != z')

x is not y
x is not z
y is not z
x == y
x == z

In [33]:
a = 2
b = 1 
c = 20

if a < b and b < c:
  print('b is in between a and c')
  
if a < b or b < c:
  print('true')

true