In [0]:
'''
This is the first course in Python3: Strings, Variables, and User Input

Author: Edgard Parra
Date: 10.1.2018

'''

# This is a single line comment


print("Hello, my name is Edgard, and today you will be learning Python3!")

**Intro to Strings Literals**:
String literals in python are surrounded by either single quotation marks, or double quotation marks.

In [10]:
print('Hello') #same output as "Hello"
print("Hello") #same output as 'Hello'

Hello
Hello

**String Concatanation**: Combine two strings

In [12]:
print('Edgard ' + 'Parra')

Edgard Parra

**A Simple variable declaration**

In [13]:
myName = 'Edgard ' + 'Parra'
print(myName)

Edgard Parra

**There are three Variable types**: String, Interger, and Float

In [14]:
aString = 'String'
anInterger = 3  #intergers are always a whole number
aFloat = 3.14   #float are numbers with decimal places

print(aString)
print(anInterger)
print(aFloat)

String
3
3.14

**Verify that they are infact a string, int, float**

In [15]:
aString = 'String'
anInterger = 3
aFloat = 3.14

print(aString, type(aString))
print(anInterger, type(anInterger))
print(aFloat, type(aFloat))

String <class 'str'>
3 <class 'int'>
3.14 <class 'float'>

**Turn a number to a string and vice versa:**

In [19]:
# Let x = 2.2 , y = 2.9 , z = 2
x = 2.2
y = 2.9
z = 2

print(x, type(x))
print(y, type(y))
print(z, type(z))

2.2 <class 'float'>
2.9 <class 'float'>
2 <class 'int'>

In [25]:
# Let x = 2.2 , y = 2.9 , z = 2
x = 2.2
y = 2.9
z = 2

# Lets convert them all into intergers
x = int(x)
y = int(y)
z = int(z)

print(x, type(x))
print(y, type(y))
print(z, type(z))

result = x + y + z
print(result)

2 <class 'int'>
2 <class 'int'>
2 <class 'int'>
6

In [26]:
# Let x = 2.2 , y = 2.9 , z = 2
x = 2.2
y = 2.9
z = 2

# Lets convert them all into floats
x = float(x)
y = float(y)
z = float(z)

print(x, type(x))
print(y, type(y))
print(z, type(z))

result = x + y + z
print(result)

2.2 <class 'float'>
2.9 <class 'float'>
2.0 <class 'float'>
7.1

In [27]:
# Let x = 2.2 , y = 2.9 , z = 2
x = 2.2
y = 2.9
z = 2

# Lets convert them all into strings
x = str(x)
y = str(y)
z = str(z)

print(x, type(x))
print(y, type(y))
print(z, type(z))

result = x + y + z
print(result)

2.2 <class 'str'>
2.9 <class 'str'>
2 <class 'str'>
2.22.92

**User input is always turned into a string:**

In [29]:
userInput = input('Ask something: ')  #whatever the user inputs gets stored into: userInput
print(userInput)

Ask something: Hi
Hi

In [32]:
yourName = input('What\'s your name?: ')
yourAge = input('How old are you: ')
afloat = input('Enter the value of PI: ')

print(yourName, type(yourName))
print(yourAge, type(yourAge))
print(afloat, type(afloat))

What's your name?: Edgard
How old are you: 30
Enter the value of PI: 3.14
Edgard <class 'str'>
30 <class 'str'>
3.14 <class 'str'>

**Notice that eveything the user inputs, gets turned into a string** If you expect the user to input a numerical value, then you need to add error handling. I recommend you don't let users input anything, not until you get really good at programming. Most of the casses, you don't need a user to input anything.