# Python3 - Workshop #2
Introduction to Lists, Tuples, Sets, Dictionaries, and Arrays

## Review from last workshop
Unlike other programming languages, Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [7]:
x = 3
y = 3.14
z = '3'

print('x =', x, type(x))
print('y =', y, type(y))
print('z =', z, type(z))

x = 3 <class 'int'>
y = 3.14 <class 'float'>
z = 3 <class 'str'>

### Specify a Variable Type
There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

#### Intergers - int()

In [66]:
x = 3
y = 3.14
z = '3'

x = int(x)
y = int(y)
z = int(z)

print('x =', x, type(x))
print('y =', y, type(y))
print('z =', z, type(z))

x = 3 <class 'int'>
y = 3 <class 'int'>
z = 3 <class 'int'>

#### Float - float()

In [11]:
x = 3
y = 3.14
z = '3'

x = float(x)
y = float(y)
z = float(z)

print('x =', x, type(x))
print('y =', y, type(y))
print('z =', z, type(z))

x = 3.0 <class 'float'>
y = 3.14 <class 'float'>
z = 3.0 <class 'float'>

#### Strings - str()

In [12]:
x = 3
y = 3.14
z = '3'

x = str(x)
y = str(y)
z = str(z)

print('x =', x, type(x))
print('y =', y, type(y))
print('z =', z, type(z))

x = 3 <class 'str'>
y = 3.14 <class 'str'>
z = 3 <class 'str'>

### User input
For Data Science, I personally recommend you don't let other users input values. If you must, then make sure you write error handling of all the exceptions you can think of. 

The following is a simple example of how to handle user input. First of all, remember from class that all user input is treated as a string, so if you expect a number then convert it to a float (not an interger).

In [14]:
myName = input('what is your name:' )

what is your name:34

## Python Collections (Arrays)
There are four collection data types in the Python programming language:

* **List** is a collection which is ordered and changeable. Allows duplicate members.
* **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
* **Set** is a collection which is unordered and unindexed. No duplicate members.
* **Dictionary** is a collection which is unordered, changeable and indexed. No duplicate members.

In [22]:
aList = ['apple','banana','milk']
print(aList,type(aList))

['apple', 'banana', 'milk'] <class 'list'>

### Lists
A list is a collection which is ordered and changeable. In Python lists are written with square brackets.

### Tuple
A tuple is a collection which is ordered and unchangeable. In Python tuples are written with round brackets.

In [21]:
aTuple = ('apple','banana', 'milk')
print(aTuple, type(aTuple))

('apple', 'banana', 'milk') <class 'tuple'>

### Set
A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

In [20]:
aSet = {'apple', 'banana', 'coconut'}
print(aSet, type(aSet))

{'apple', 'banana', 'coconut'} <class 'set'>

### Dictionary
A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [24]:
aDictionary = {
    'Name':'Edgard',
    'Schools':'Mesa',
    'SSS': 555555555
}
print(aDictionary)

{'Name': 'Edgard', 'Schools': 'Mesa', 'SSS': 555555555}

## Python3 - Lists
Lets manipulate lists

### List Built in functions

* **append()**	Adds an element at the end of the list
* **clear()**	Removes all the elements from the list
* **copy()**	Returns a copy of the list
* **count()**	Returns the number of elements with the specified value
* **extend()**	Add the elements of a list (or any iterable), to the end of the current list
* **pop()**	Removes the element at the specified position
* **remove()**	Removes the first item with the specified value
* **reverse()**	Reverses the order of the list
* **sort()**	Sorts the list

### Data Structures
More at: https://docs.python.org/3/tutorial/datastructures.html

In [28]:
aList = [1,2,3,4,5,6]


aList.append(8)

print(aList)
aList.pop()
print(aList)

[1, 2, 3, 4, 5, 6, 8]
[1, 2, 3, 4, 5, 6]

In [73]:
aList = [623423,35267,47213,443,55,6]

aList.pop(3)
print(aList)

print(len(aList))

[623423, 35267, 47213, 55, 6]
5

### List Index

In [47]:
aList = [3,3,3,5,6]

print('index 0 =', aList[0] )
print('index 1 =', aList[1] )
print('index 2 =', aList[2] )
print('index 3 =', aList[3] )
print('index 4 =', aList[4] )

index 0 = 3
index 1 = 3
index 2 = 3
index 3 = 5
index 4 = 6

### Multidimensional Arrays in Python3

In [49]:
A = [[1,2,3],
     [4,5,6],
     [7,8,9]]

print(A, type(A))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]] <class 'list'>

In [64]:
A = [[1,2,3],
     [4,5,6],
     [7,8,9]]

result1 = A[0][0] + 1
result2 = A[0][1] * 2
result3 = A[0][2] / 5

print(result1)
print(result2)
print(result3)

2
4
0.6